@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body, h1, h2, p {
  margin: 0;
}

label, input {
  display: block;
}

.container {
  background-color: #CCC;
  padding: 0 16px;
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  box-shadow: 0 0 10px 4px rgb(0, 0, 0, 0.2);
  display: flex;
}

.image-area {
  width: 400px;
  background-image: url("images/background.jpg");
  background-size: cover;
  position: relative;
}

.logo {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 130px;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 70px;
}

.logo h1 {
  color: whitesmoke;
  font-family: 'Creepster', cursive;
  font-size: 4rem;
}

.photo-credits {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-size: 0.8rem;
  font-weight: 100;
}

.photo-credits a {
  color: whitesmoke;
}

.form-area {
  flex: 1;
  background-color: #EEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.agitation {
  margin-bottom: 32px;
  padding: 0 32px;
  font-size: 1.5rem;
  font-weight: 900;
}

.form {
  margin: 32px 0;
  padding: 16px 32px;
  background-color: white;
  border: none;
  box-shadow: -10px 0 10px 4px rgb(0, 0, 0, 0.2);
}

.form h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 900;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 64px;
}

.input label {
  text-transform: uppercase;
  color: gray;
  font-size: 0.8rem;
}

.input input {
  border-radius: 4px;
  border: 2px solid #E5E7EB;
  width: 250px;
}

form button {
  margin: 0 32px;
  border-radius: 8px;
  border: none;
  padding: 8px 32px;
  appearance: none;
  background-color: steelblue;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.suggestion {
  margin: 16px 32px;
}

.suggestion a {
  text-decoration: none;
  color: steelblue;
}
