@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto&display=swap');

:root {
  --background-color: #CCC;
  --shadow-color: rgb(0, 0, 0, 0.2);
  --main-color: #EEE;
  --padding: 0 32px;
  --gap-size: 32px;
}

html {
  font-family: 'Roboto', sans-serif;
}

body, h1, h2, p {
  margin: 0;
}

label, input {
  display: block;
}

.container {
  background-color: var(--background-color);
  padding: var(--padding);
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  box-shadow: 0 0 10px 4px var(--shadow-color);
  display: flex;
}

.image-area {
  flex: 0 0 auto;
  width: 400px;
  background-image: url("images/background.jpg");
  background-size: cover;
  position: relative;
}

.logo {
  position: absolute;
  top: 10vh;
  width: 100%;
  height: 15vh;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo img {
  width: 70px;
}

.logo h1 {
  color: var(--main-color);
  -webkit-text-stroke: 2px black;
  font-family: 'Creepster', cursive;
  font-size: 4rem;
}

.photo-credits {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 100;
}

.photo-credits a {
  color: inherit;
}

.form-area {
  padding: var(--padding) 0;
  flex: 1;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-size);
}

.agitation {
  padding: var(--padding);
  font-size: 1.5rem;
  font-weight: 700;
}

.agitation p {
  margin-bottom: var(--gap-size);
}

.form {
  margin-bottom: var(--gap-size);
  padding: var(--padding);
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: white;
  border: none;
  box-shadow: -5px 0 5px 1px var(--shadow-color);
}

.form h2 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 700;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 64px;
}

.input label {
  text-transform: uppercase;
  color: gray;
  font-size: 0.8rem;
}

.input input {
  border-radius: 4px;
  border: 2px solid #E5E7EB;
  width: 250px;
}

.input input:focus {
  outline: none;
  border: 2px solid blue;
  box-shadow: 0 0 5px 2px var(--shadow-color);
}

.input .error {
  border: 2px solid red;
}

.input p {
  display: none;
}

.input .password-error {
  display: block;
  font-size: 0.8rem;
  color: red;
}

form button {
  margin: 0 var(--gap-size);
  border-radius: 8px;
  border: none;
  padding: 16px 32px;
  appearance: none;
  background-color: #777;
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.log-in{
  margin: 0 32px;
  font-size: 1rem;
}

.log-in a {
  text-decoration: none;
  color: steelblue;
}
